#footer {
    justify-content: center;
    display: flex;
    font-style: normal;
    font-family: "Roboto Condensed", sans-serif;


}

#header {
    justify-content: center;
    display: flex;
    font-style: normal;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 50px;
    margin: 20px;
}


.container {
    display: flex;
    justify-content: center;
}