#footer {
    justify-content: center;
    display: flex;
    font-style: normal;
    font-family: "Roboto Condensed", sans-serif;
}

#header {
    justify-content: center;
    display: flex;
    font-style: normal;
    font-family: "Roboto Condensed", sans-serif;
}

.main {
    justify-content: center;
    display: flex;
}